/*.profile-container {
    text-align: center;
    margin-top: -75px;
    /* Tira la imagen hacia arriba 
    position: relative;
    z-index: 10;
}*/
.profile-container {
    text-align: center;
    margin-top: -75px;
    /* Tira la imagen hacia arriba */
    position: relative;
    z-index: 10;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--bg-color);
    object-fit: cover;
    box-shadow: 0 4px 15px var(--shadow-color);
}

.profile-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;


    margin-top: -90px;
    position: relative;
    z-index: 10;
    margin-right: 15rem;

}

/*
.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}*/


.profile-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 6rem;
}

.profile-nav a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.2s;
}

.profile-nav a:hover {
    color: var(--accent-color);
}